:root {
    /*Color principal*/
    --color-base: #264892;
    --color-base-trnasparent: rgba(38, 72, 146, 0.8);
    /*Colore constrastantes*/
    --color-contrast-4: #0f1226;
    /*Colores Complementarios*/
    --color-complementary-5: #52525c;
    /*Fuente principal*/
    --font-primary: 'Roboto', sans-serif;
    /*Colores adicionales*/
    --color-white: #ffffff;
    --color-aliceblue: #f0f8ff;
    --color-whitesmoke: #f5f5f5;
    --font-primary: 'Roboto', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--font-primary);
}

.grid-container {
    display: grid;
    grid-template-areas:
        "nav nav nav nav"
        "article section section section"
        "footer footer footer footer";
}
/*Barra de navegación*/
.nav {
    display: flex;
    align-items: center;
    grid-area: nav;
    background-color: var(--color-base-trnasparent);
    height: 5rem;
    border-bottom: 1px solid var(--color-complementary-5);
    position:fixed;
    width: 100%;
}
.nav img {
    height: 5rem;
    margin-left: 2rem;
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    margin-left: 2rem;
}
.nav a:hover {
    color: aliceblue;
    background-color: var(--color-contrast-4);
    border-radius: 5rem;
    padding:1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

.nav__busqueda-container{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2rem;
    background-color: whitesmoke;
    height: 60%;
    border-radius: 5rem;
    border: 1px solid var(--color-complementary-5);
}
.nav__busqueda-container img{
    height: 2rem;
    margin-left: 1rem;
    
}
.nav__busqueda-container input {
    height: 1.8rem;
    border: none;
    background-color: whitesmoke;
    font-size: 1.6rem;
    padding: 0.5rem;
    width: 20rem;
    border-radius: 5rem;
}

/*Footer*/
.footer {
    grid-area: footer;
    background-color: var(--color-base);
    height: 5rem;
    border-top: 1px solid var(--color-complementary-5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.footer__info h3{
    color: white;
    font-size: 1.6rem;
    margin-right: 1rem;
}

.footer__info p {
    color: white;
    font-size: 1.4rem;
}


.footer__info :nth-child(2){
    margin-left: 5rem;
}

.footer__info :nth-child(3){
    margin-left: 5rem;
}


.footer__social-media {
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}

.footer__social-media img {
    height: 2rem;
    margin-right: 2rem;
    border-radius: 2rem;
}

/*Responsivo :)*/

/*tablet :)*/
@media (max-width: 768px){
    .duclería__container{
        display: none;
    }
    .section-presentacion{
        display: flex;
    }
}
/*mobile :)*/
@media (max-width: 320px){

}